In [2]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [3]:
teams_df = pd.read_csv("C:\ClassRepo\BaseballMadness\Teams.csv")
playoffs_df = pd.read_csv("C:\ClassRepo\BaseballMadness\PlayoffTeams.csv")
salaries_df = pd.read_csv("C:\ClassRepo\BaseballMadness\Salaries.csv")
franchises_df = pd.read_csv("C:\ClassRepo\BaseballMadness\TeamsFranchises.csv")
teams_df.head()
teams_df.count

<bound method DataFrame.count of       yearID lgID teamID franchID divID  Rank    G  Ghome   W   L  ...     DP  \
0       1871  NaN    BS1      BNA   NaN     3   31    NaN  20  10  ...    NaN
1       1871  NaN    CH1      CNA   NaN     2   28    NaN  19   9  ...    NaN
2       1871  NaN    CL1      CFC   NaN     8   29    NaN  10  19  ...    NaN
3       1871  NaN    FW1      KEK   NaN     7   19    NaN   7  12  ...    NaN
4       1871  NaN    NY2      NNA   NaN     5   33    NaN  16  17  ...    NaN
...      ...  ...    ...      ...   ...   ...  ...    ...  ..  ..  ...    ...
2800    2015   NL    LAN      LAD     W     1  162   81.0  92  70  ...  133.0
2801    2015   NL    SFN      SFG     W     2  162   81.0  84  78  ...  145.0
2802    2015   NL    ARI      ARI     W     3  162   81.0  79  83  ...  146.0
2803    2015   NL    SDN      SDP     W     4  162   81.0  74  88  ...  138.0
2804    2015   NL    COL      COL     W     5  162   81.0  68  94  ...  171.0

         FP                     name                          park  \
0     0.830     Boston Red Stockings           South End Grounds I
1     0.820  Chicago White Stockings       Union Base-Ball Grounds
2     0.810   Cleveland Forest Citys  National Association Grounds
3     0.800     Fort Wayne Kekiongas                Hamilton Field
4     0.830         New York Mutuals      Union Grounds (Brooklyn)
...     ...                      ...                           ...
2800  0.988      Los Angeles Dodgers                Dodger Stadium
2801  0.987     San Francisco Giants                     AT&T Park
2802  0.986     Arizona Diamondbacks                   Chase Field
2803  0.985         San Diego Padres                    Petco Park
2804  0.985         Colorado Rockies                   Coors Field

      attendance  BPF  PPF  teamIDBR  teamIDlahman45  teamIDretro
0            NaN  103   98       BOS             BS1          BS1
1            NaN  104  102       CHI             CH1          CH1
2            NaN   96  100       CLE             CL1          CL1
3            NaN  101  107       KEK             FW1          FW1
4            NaN   90   88       NYU             NY2          NY2
...          ...  ...  ...       ...             ...          ...
2800   3764815.0  101   98       LAD             LAN          LAN
2801   3375882.0   99   97       SFG             SFN          SFN
2802   2080145.0  107  106       ARI             ARI          ARI
2803   2459742.0   98   97       SDP             SDN          SDN
2804   2506789.0  119  118       COL             COL          COL

[2805 rows x 48 columns]>

In [11]:
# clean up Teams dataframes to chosen years (2005-2015)

teams_df = teams_df.loc[teams_df['yearID'] > 2004]
teams_df.count
playoffs_df = playoffs_df.loc[playoffs_df['yearID'] > 2004]
playoffs_df.count
salaries_df = salaries_df.loc[salaries_df['yearID'] > 2004]

In [12]:
winners_df = playoffs_df[['teamIDwinner']].drop_duplicates()
winners_df.head()
winners_df.count()
#losers_df
losers_df = playoffs_df[['teamIDloser']].drop_duplicates()
losers_df.head()
losers_df.count()

print(winners_df)
print(losers_df)

    teamIDwinner
222          CHA
224          LAA
225          HOU
226          SLN
229          DET
231          OAK
233          NYN
236          BOS
238          CLE
239          COL
240          ARI
243          TBA
246          PHI
247          LAN
250          NYA
257          TEX
260          SFN
269          MIL
271          BAL
284          PIT
289          KCA
301          TOR
302          CHN
    teamIDloser
222         LAA
223         BOS
224         NYA
225         SLN
226         SDN
227         ATL
228         HOU
229         OAK
231         MIN
232         NYN
233         LAN
235         DET
236         CLE
239         ARI
240         CHN
241         PHI
242         COL
245         CHA
248         MIL
249         TBA
261         CIN
263         TEX
273         BAL
277         WAS
286         PIT
297         KCA
299         TOR

In [17]:
playoff_count_df = playoffs_df['teamIDwinner'].append(playoffs_df['teamIDloser'])
playoff_count_df = playoff_count_df.value_counts()

In [96]:
#MONEY SECTION
#How much is a team that got to the playoffs between 2005-2015 spending #per year
# #What is the average per team per general player per    
# Create 2 dataframes answering 2 objectives:
# salaries_describe['Sum'] - How much is a play offs team spends total per year 
# salaries_describe['mean'] - How much the playoff team spends per general player per year
# Find the teams that spend Too Much - top 10% (?) - 3
# Make Bar graph for 1 and 2

salaries_test_df = salaries_df.loc[salaries_df['teamID'].isin(playoff_count_df.index)]

salaries_test_df = salaries_test_df.groupby(['yearID', 'teamID'])
salaries_describe = salaries_test_df.describe()
salaries_describe['Sum'] = salaries_test_df.sum()
top_total_spenders = 
top average_spenders

              salary                                                  \
               count          mean           std       min       25%
yearID teamID
2005   ARI      27.0  2.308488e+06  3.427508e+06  317500.0  323750.0
       ATL      25.0  3.458292e+06  4.821131e+06  300000.0  450000.0
       BAL      28.0  2.639798e+06  3.889281e+06  316000.0  361250.0
       BOS      28.0  4.410897e+06  4.837406e+06  316000.0  825000.0
       CHA      27.0  2.784370e+06  2.740304e+06  318000.0  600000.0
...              ...           ...           ...       ...       ...
2015   SLN      26.0  4.586212e+06  5.801085e+06  507500.0  524000.0
       TBA      29.0  2.224870e+06  2.696028e+06  507500.0  513800.0
       TEX      30.0  4.791426e+06  6.984724e+06  507000.0  514137.5
       TOR      25.0  4.519696e+06  6.269735e+06  508500.0  517300.0
       WAS      29.0  5.365085e+06  5.965111e+06  507500.0  525000.0

                                                       Sum
                     50%        75%         max
yearID teamID
2005   ARI      550000.0  1925000.0  11000000.0   62329166
       ATL     1000000.0  4250000.0  16061802.0   86457302
       BAL      962500.0  2600000.0  17000000.0   73914333
       BOS     2875000.0  6750000.0  22000000.0  123505125
       CHA     2000000.0  3750000.0   8750000.0   75178000
...                  ...        ...         ...        ...
2015   SLN     2000000.0  6281250.0  19500000.0  119241500
       TBA     1021800.0  3025000.0  11000000.0   64521233
       TEX      937500.0  4593750.0  24000000.0  143742789
       TOR     1021600.0  5000000.0  22000000.0  112992400
       WAS     2500000.0  9000000.0  21000000.0  155587472

[308 rows x 9 columns]