In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [9]:
teams_df = pd.read_csv("C:\ClassRepo\BaseballMadness\Teams.csv")
playoffs_df = pd.read_csv("C:\ClassRepo\BaseballMadness\PlayoffTeams.csv")
salaries_df = pd.read_csv("C:\ClassRepo\BaseballMadness\Salaries.csv")
franchises_df = pd.read_csv("C:\ClassRepo\BaseballMadness\TeamsFranchises.csv")
teams_df.head()
teams_df.count

<bound method DataFrame.count of       yearID lgID teamID franchID divID  Rank    G  Ghome   W   L  ...     DP  \
0       1871  NaN    BS1      BNA   NaN     3   31    NaN  20  10  ...    NaN
1       1871  NaN    CH1      CNA   NaN     2   28    NaN  19   9  ...    NaN
2       1871  NaN    CL1      CFC   NaN     8   29    NaN  10  19  ...    NaN
3       1871  NaN    FW1      KEK   NaN     7   19    NaN   7  12  ...    NaN
4       1871  NaN    NY2      NNA   NaN     5   33    NaN  16  17  ...    NaN
...      ...  ...    ...      ...   ...   ...  ...    ...  ..  ..  ...    ...
2800    2015   NL    LAN      LAD     W     1  162   81.0  92  70  ...  133.0
2801    2015   NL    SFN      SFG     W     2  162   81.0  84  78  ...  145.0
2802    2015   NL    ARI      ARI     W     3  162   81.0  79  83  ...  146.0
2803    2015   NL    SDN      SDP     W     4  162   81.0  74  88  ...  138.0
2804    2015   NL    COL      COL     W     5  162   81.0  68  94  ...  171.0

         FP                     name                          park  \
0     0.830     Boston Red Stockings           South End Grounds I
1     0.820  Chicago White Stockings       Union Base-Ball Grounds
2     0.810   Cleveland Forest Citys  National Association Grounds
3     0.800     Fort Wayne Kekiongas                Hamilton Field
4     0.830         New York Mutuals      Union Grounds (Brooklyn)
...     ...                      ...                           ...
2800  0.988      Los Angeles Dodgers                Dodger Stadium
2801  0.987     San Francisco Giants                     AT&T Park
2802  0.986     Arizona Diamondbacks                   Chase Field
2803  0.985         San Diego Padres                    Petco Park
2804  0.985         Colorado Rockies                   Coors Field

      attendance  BPF  PPF  teamIDBR  teamIDlahman45  teamIDretro
0            NaN  103   98       BOS             BS1          BS1
1            NaN  104  102       CHI             CH1          CH1
2            NaN   96  100       CLE             CL1          CL1
3            NaN  101  107       KEK             FW1          FW1
4            NaN   90   88       NYU             NY2          NY2
...          ...  ...  ...       ...             ...          ...
2800   3764815.0  101   98       LAD             LAN          LAN
2801   3375882.0   99   97       SFG             SFN          SFN
2802   2080145.0  107  106       ARI             ARI          ARI
2803   2459742.0   98   97       SDP             SDN          SDN
2804   2506789.0  119  118       COL             COL          COL

[2805 rows x 48 columns]>

In [16]:
# clean up Teams dataframes to chosen years (2005-2015)

teams_df = teams_df.loc[teams_df['yearID'] > 2004]
teams_df.count
playoffs_df = playoffs_df.loc[playoffs_df['yearID'] > 2004]
playoffs_df.count

<bound method DataFrame.count of      yearID  round teamIDwinner lgIDwinner teamIDloser lgIDloser  wins  \
222    2005   ALCS          CHA         AL         LAA        AL     4
223    2005  ALDS1          CHA         AL         BOS        AL     3
224    2005  ALDS2          LAA         AL         NYA        AL     3
225    2005   NLCS          HOU         NL         SLN        NL     4
226    2005  NLDS1          SLN         NL         SDN        NL     3
..      ...    ...          ...        ...         ...       ...   ...
302    2015   NLWC          CHN         NL         PIT        NL     1
303    2015   NLCS          NYN         NL         CHN        NL     4
304    2015  NLDS1          CHN         NL         SLN        NL     3
305    2015  NLDS2          NYN         NL         LAN        NL     3
306    2015     WS          KCA         AL         NYN        NL     4

     losses  ties
222       1     0
223       0     0
224       2     0
225       2     0
226       0     0
..      ...   ...
302       0     0
303       0     0
304       1     0
305       2     0
306       1     0

[85 rows x 9 columns]>

In [27]:
# plot_df = cleaned_df[['Drug Regimen', 'Mouse ID']].drop_duplicates().groupby('Drug Regimen').count()

winners_df = playoffs_df[['teamIDwinner']].drop_duplicates()
winners_df.head()
winners_df.count()
#losers_df
losers_df = playoffs_df[['teamIDloser']].drop_duplicates()
losers_df.head()
losers_df.count()

print(winners_df)
print(losers_df)

    teamIDwinner
222          CHA
224          LAA
225          HOU
226          SLN
229          DET
231          OAK
233          NYN
236          BOS
238          CLE
239          COL
240          ARI
243          TBA
246          PHI
247          LAN
250          NYA
257          TEX
260          SFN
269          MIL
271          BAL
284          PIT
289          KCA
301          TOR
302          CHN
    teamIDloser
222         LAA
223         BOS
224         NYA
225         SLN
226         SDN
227         ATL
228         HOU
229         OAK
231         MIN
232         NYN
233         LAN
235         DET
236         CLE
239         ARI
240         CHN
241         PHI
242         COL
245         CHA
248         MIL
249         TBA
261         CIN
263         TEX
273         BAL
277         WAS
286         PIT
297         KCA
299         TOR