In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [2]:
teams_df = pd.read_csv(".\Teams.csv")
playoffs_df = pd.read_csv(".\PlayoffTeams.csv")
salaries_df = pd.read_csv(".\Salaries.csv")
franchises_df = pd.read_csv(".\TeamsFranchises.csv")
teams_df.head()
teams_df.count

<bound method DataFrame.count of       yearID lgID teamID franchID divID  Rank    G  Ghome   W   L  ...     DP  \
0       1871  NaN    BS1      BNA   NaN     3   31    NaN  20  10  ...    NaN
1       1871  NaN    CH1      CNA   NaN     2   28    NaN  19   9  ...    NaN
2       1871  NaN    CL1      CFC   NaN     8   29    NaN  10  19  ...    NaN
3       1871  NaN    FW1      KEK   NaN     7   19    NaN   7  12  ...    NaN
4       1871  NaN    NY2      NNA   NaN     5   33    NaN  16  17  ...    NaN
...      ...  ...    ...      ...   ...   ...  ...    ...  ..  ..  ...    ...
2800    2015   NL    LAN      LAD     W     1  162   81.0  92  70  ...  133.0
2801    2015   NL    SFN      SFG     W     2  162   81.0  84  78  ...  145.0
2802    2015   NL    ARI      ARI     W     3  162   81.0  79  83  ...  146.0
2803    2015   NL    SDN      SDP     W     4  162   81.0  74  88  ...  138.0
2804    2015   NL    COL      COL     W     5  162   81.0  68  94  ...  171.0

         FP                     name                          park  \
0     0.830     Boston Red Stockings           South End Grounds I
1     0.820  Chicago White Stockings       Union Base-Ball Grounds
2     0.810   Cleveland Forest Citys  National Association Grounds
3     0.800     Fort Wayne Kekiongas                Hamilton Field
4     0.830         New York Mutuals      Union Grounds (Brooklyn)
...     ...                      ...                           ...
2800  0.988      Los Angeles Dodgers                Dodger Stadium
2801  0.987     San Francisco Giants                     AT&T Park
2802  0.986     Arizona Diamondbacks                   Chase Field
2803  0.985         San Diego Padres                    Petco Park
2804  0.985         Colorado Rockies                   Coors Field

      attendance  BPF  PPF  teamIDBR  teamIDlahman45  teamIDretro
0            NaN  103   98       BOS             BS1          BS1
1            NaN  104  102       CHI             CH1          CH1
2            NaN   96  100       CLE             CL1          CL1
3            NaN  101  107       KEK             FW1          FW1
4            NaN   90   88       NYU             NY2          NY2
...          ...  ...  ...       ...             ...          ...
2800   3764815.0  101   98       LAD             LAN          LAN
2801   3375882.0   99   97       SFG             SFN          SFN
2802   2080145.0  107  106       ARI             ARI          ARI
2803   2459742.0   98   97       SDP             SDN          SDN
2804   2506789.0  119  118       COL             COL          COL

[2805 rows x 48 columns]>

In [3]:
# clean up Teams dataframes to chosen years (2005-2015)

teams_df = teams_df.loc[teams_df['yearID'] > 2004]
teams_df.count
playoffs_df = playoffs_df.loc[playoffs_df['yearID'] > 2004]
playoffs_df.count

<bound method DataFrame.count of      yearID  round teamIDwinner lgIDwinner teamIDloser lgIDloser  wins  \
222    2005   ALCS          CHA         AL         LAA        AL     4
223    2005  ALDS1          CHA         AL         BOS        AL     3
224    2005  ALDS2          LAA         AL         NYA        AL     3
225    2005   NLCS          HOU         NL         SLN        NL     4
226    2005  NLDS1          SLN         NL         SDN        NL     3
..      ...    ...          ...        ...         ...       ...   ...
302    2015   NLWC          CHN         NL         PIT        NL     1
303    2015   NLCS          NYN         NL         CHN        NL     4
304    2015  NLDS1          CHN         NL         SLN        NL     3
305    2015  NLDS2          NYN         NL         LAN        NL     3
306    2015     WS          KCA         AL         NYN        NL     4

     losses  ties
222       1     0
223       0     0
224       2     0
225       2     0
226       0     0
..      ...   ...
302       0     0
303       0     0
304       1     0
305       2     0
306       1     0

[85 rows x 9 columns]>

In [4]:
# plot_df = cleaned_df[['Drug Regimen', 'Mouse ID']].drop_duplicates().groupby('Drug Regimen').count()

winners_df = playoffs_df[['teamIDwinner']].drop_duplicates()
winners_df.head()
winners_df.count()
#losers_df
losers_df = playoffs_df[['teamIDloser']].drop_duplicates()
losers_df.head()
losers_df.count()

print(winners_df)
print(losers_df)

    teamIDwinner
222          CHA
224          LAA
225          HOU
226          SLN
229          DET
231          OAK
233          NYN
236          BOS
238          CLE
239          COL
240          ARI
243          TBA
246          PHI
247          LAN
250          NYA
257          TEX
260          SFN
269          MIL
271          BAL
284          PIT
289          KCA
301          TOR
302          CHN
    teamIDloser
222         LAA
223         BOS
224         NYA
225         SLN
226         SDN
227         ATL
228         HOU
229         OAK
231         MIN
232         NYN
233         LAN
235         DET
236         CLE
239         ARI
240         CHN
241         PHI
242         COL
245         CHA
248         MIL
249         TBA
261         CIN
263         TEX
273         BAL
277         WAS
286         PIT
297         KCA
299         TOR

In [5]:
playoff_count_df = playoffs_df['teamIDwinner'].append(playoffs_df['teamIDloser'])
playoff_count_df = playoff_count_df.value_counts()
playoff_count_df
#len(playoff_count_df)

SLN    18
NYA    12
DET    11
BOS    10
SFN    10
PHI    10
LAN     9
TEX     8
KCA     7
TBA     7
LAA     7
NYN     5
OAK     5
CHN     5
HOU     5
ATL     4
BAL     4
CHA     4
PIT     4
COL     4
ARI     3
MIN     3
CLE     3
MIL     3
CIN     3
SDN     2
WAS     2
TOR     2
dtype: int64

In [6]:
#Salaries csv 
salaries_df = pd.read_csv("./Salaries.csv")
salaries_df.head()
salaries_df.count

<bound method DataFrame.count of        yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
25570    2015    WAS   NL  treinbl01    512800
25571    2015    WAS   NL  ugglada01    507500
25572    2015    WAS   NL  werthja01  21000000
25573    2015    WAS   NL  zimmejo02  16500000
25574    2015    WAS   NL  zimmery01  14000000

[25575 rows x 5 columns]>

In [42]:
#select years 2005-2015
salaries_yr = salaries_df.loc[salaries_df['yearID'] > 2004]
salaries_yr.count
#salaries_yr.head()

<bound method DataFrame.count of        yearID teamID lgID   playerID    salary
16463    2005    ARI   NL  aquingr01    325000
16464    2005    ARI   NL  brunebr01    322500
16465    2005    ARI   NL  choatra01    550000
16466    2005    ARI   NL  cintral01    360000
16467    2005    ARI   NL  clarkto02    750000
...       ...    ...  ...        ...       ...
25570    2015    WAS   NL  treinbl01    512800
25571    2015    WAS   NL  ugglada01    507500
25572    2015    WAS   NL  werthja01  21000000
25573    2015    WAS   NL  zimmejo02  16500000
25574    2015    WAS   NL  zimmery01  14000000

[9112 rows x 5 columns]>

In [58]:
#Find top salaries - using df with years 2005-2015 and selecting for playoff teams
#Looking for top 10%, narrow down to 900ish rows

#salaries_yr.describe()
salaries_yr_df = salaries_yr.loc[salaries_yr['teamID'].isin(playoff_count_df.index)]
salaries_yr_df

millions_of_dollars = salaries_yr_df["salary"]/1000000
salaries_yr_df["Salary in Millions"] = millions_of_dollars
salaries_yr_df

salaries_millions = salaries_yr_df.loc[salaries_yr_df["Salary in Millions"]>9.5]
salaries_millions

#groupby players
top_total_spenders = salaries_millions.groupby("playerID")
top_total_spenders.describe()

<ipython-input-58-201375dbf5b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_yr_df["Salary in Millions"] = millions_of_dollars

          yearID                                                           \
           count         mean       std     min      25%     50%      75%
playerID
abreubo01    4.0  2006.500000  1.290994  2005.0  2005.75  2006.5  2007.25
anderbr04    1.0  2015.000000       NaN  2015.0  2015.00  2015.0  2015.00
anderga01    4.0  2006.500000  1.290994  2005.0  2005.75  2006.5  2007.25
andruel01    1.0  2015.000000       NaN  2015.0  2015.00  2015.0  2015.00
arroybr01    3.0  2010.666667  2.081666  2009.0  2009.50  2010.0  2011.50
...          ...          ...       ...     ...      ...     ...      ...
youngmi02    5.0  2011.000000  1.581139  2009.0  2010.00  2011.0  2012.00
zambrca01    5.0  2009.000000  1.581139  2007.0  2008.00  2009.0  2010.00
zimmejo02    1.0  2015.000000       NaN  2015.0  2015.00  2015.0  2015.00
zimmery01    4.0  2013.500000  1.290994  2012.0  2012.75  2013.5  2014.25
zitoba01     7.0  2010.000000  2.160247  2007.0  2008.50  2010.0  2011.50

                  salary              ...                          \
              max  count        mean  ...         75%         max
playerID                              ...
abreubo01  2008.0    4.0  14425000.0  ...  15250000.0  16000000.0
anderbr04  2015.0    1.0  10000000.0  ...  10000000.0  10000000.0
anderga01  2008.0    4.0  11100000.0  ...  11850000.0  12600000.0
andruel01  2015.0    1.0  15000000.0  ...  15000000.0  15000000.0
arroybr01  2013.0    3.0  12731845.0  ...  14035267.5  16445535.0
...           ...    ...         ...  ...         ...         ...
youngmi02  2013.0    5.0  15390884.6  ...  16174974.0  18374975.0
zambrca01  2011.0    5.0  16980000.0  ...  18875000.0  18875000.0
zimmejo02  2015.0    1.0  16500000.0  ...  16500000.0  16500000.0
zimmery01  2015.0    4.0  13525000.0  ...  14025000.0  14100000.0
zitoba01   2013.0    7.0  17000000.0  ...  18750000.0  20000000.0

          Salary in Millions                                             \
                       count       mean       std        min        25%
playerID
abreubo01                4.0  14.425000  1.322561  13.100000  13.475000
anderbr04                1.0  10.000000       NaN  10.000000  10.000000
anderga01                4.0  11.100000  1.290994   9.600000  10.350000
andruel01                1.0  15.000000       NaN  15.000000  15.000000
arroybr01                3.0  12.731845  3.302442  10.125000  10.875000
...                      ...        ...       ...        ...        ...
youngmi02                5.0  15.390885  2.264024  13.054526  13.174974
zambrca01                5.0  16.980000  2.839531  12.400000  16.000000
zimmejo02                1.0  16.500000       NaN  16.500000  16.500000
zimmery01                4.0  13.525000  1.017759  12.000000  13.500000
zitoba01                 7.0  17.000000  3.535534  10.000000  16.500000


                 50%        75%        max
playerID
abreubo01  14.300000  15.250000  16.000000
anderbr04  10.000000  10.000000  10.000000
anderga01  11.100000  11.850000  12.600000
andruel01  15.000000  15.000000  15.000000
arroybr01  11.625000  14.035267  16.445535
...              ...        ...        ...
youngmi02  16.174974  16.174974  18.374975
zambrca01  18.750000  18.875000  18.875000
zimmejo02  16.500000  16.500000  16.500000
zimmery01  14.000000  14.025000  14.100000
zitoba01   18.500000  18.750000  20.000000

[278 rows x 24 columns]

In [18]:
#MONEY SECTION
#How much is a team that got to the playoffs between 2005-2015 spending #per year
# #What is the average per team per general player per    
# Create 2 dataframes answering 2 objectives:
# salaries_describe['Sum'] - How much is a play offs team spends total per year 
# salaries_describe['mean'] - How much the playoff team spends per general player per year
# Find the teams that spend Too Much - top 10% (?) - 3
# Make Bar graph for 1 and 2

# salaries_test_df = salaries_df.loc[salaries_df['teamID'].isin(playoff_count_df.index)]

# salaries_test_df = salaries_test_df.groupby(['yearID', 'teamID'])
# salaries_describe = salaries_test_df.describe()
# salaries_describe['Sum'] = salaries_test_df.sum()
#top_total_spenders 
#top average_spenders